extends layout

block stylesheets
	link(rel="stylesheet", href="/stylesheets/add_remove.css", type="text/css")

block content
  button.add add
  button.remove remove
  script(src="/javascripts/add_remove.js")